In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [2]:
base_credit=pd.read_csv('credit_data.csv')

In [ ]:
base_credit['age'].fillna(base_credit['age'].mean(), inplace=True)

In [5]:
base_credit.loc[pd.isnull(base_credit['age'])]

Empty DataFrame
Columns: [clientid, income, age, loan, default]
Index: []

In [6]:
base_credit.loc[base_credit['clientid'].isin([29, 31, 32])]

    clientid        income        age         loan  default
28        29  59417.805406  40.807559  2082.625938        0
30        31  48528.852796  40.807559  6155.784670        0
31        32  23526.302555  40.807559  2862.010139        0

In [14]:
type(base_credit)

pandas.core.frame.DataFrame

In [7]:
X_credit = base_credit.iloc[:, 1:4].values

In [8]:
X_credit

array([[6.61559251e+04, 5.90170151e+01, 8.10653213e+03],
       [3.44151540e+04, 4.81171531e+01, 6.56474502e+03],
       [5.73171701e+04, 6.31080495e+01, 8.02095330e+03],
       ...,
       [4.43114493e+04, 2.80171669e+01, 5.52278669e+03],
       [4.37560566e+04, 6.39717958e+01, 1.62272260e+03],
       [6.94365796e+04, 5.61526170e+01, 7.37883360e+03]])

In [9]:
type(X_credit)

numpy.ndarray

In [11]:
y_credit = base_credit.iloc[:, 4].values

In [12]:
y_credit

array([0, 0, 0, ..., 1, 0, 0])

In [13]:
type(y_credit)

numpy.ndarray