In [22]:
class Triangulo:
    def __init__(self, lado1, lado2, lado3, base, altura):
        self.lado1 = lado1
        self.lado2 = lado2
        self.lado3 = lado3
        self.base = base
        self.altura = altura

    def area(self):
        return (self.base * self.altura) / 2

    def tipo(self):
        if self.lado1 > self.lado2 + self.lado3:
            return 'nao e um triangulo'
        elif self.lado1 ==self.lado2 or self.lado1 == self.lado3 or self.lado1 == self.lado2:
            return 'Triangulo isosceles'
        else:
            return 'outro tipo de triangulo'

In [24]:
t1 = Triangulo(2, 1, 3, 4, 3)
print(t1.lado1, t1.lado2, t1.lado3, t1.base, t1.altura)

2 1 3 4 3

In [17]:
t1.area()

6.0

In [25]:
t1.tipo()

'outro tipo de triangulo'

In [26]:
t2.area()

72.0

In [27]:
t2 = Triangulo(8, 8, 8, 16, 9)
print(t2.lado1, t2.lado2, t2.lado3)

8 8 8

In [28]:
t2.tipo()

'Triangulo isosceles'